@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
.header {
  height: 70px;
  width: 100%;
  background: #6B6B6B;
}
.header__introduction {
    width: 1150px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  
}
.header__link {
  display: flex;
  list-style: none;
  gap: 40px;
}
.header__items {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */


color: #FFFFFF;
}
/* header end */
.main {
  width: 100%;
}
.main__introduction {
  width: 100%;
  height: 500px;
  background: #EBEBEB;
}
.main__intro {
  height: 366px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 67px;
  
}
.intro__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 45px;
  color: #333333;
}
.header__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  width: 576px;
  height: 52px;
  margin-top:11px ;
  margin-bottom: 24px;
  color: #333333;
}
.intro__link {
  height: 50px ;
  width: 357px;
  text-align: center;
  background: #FFFFFF;
  padding-top:15px;
  margin-top: 30px;
  display:block;
  border-radius: 5px;   
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.right__text {
  width: 320px;
  height: 42px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  margin-top: -53px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);  
}
.logo {
  width: 100%;
  height: 152px;
  background: #D3D3D3;  
}
.logo__items {
  display: flex;
  height: 152px;
  align-items: center;
  justify-content: space-between;
}
.fixing {
  height: 660px;
  width: 100%;
}